.background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.07;
  z-index: -2;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 50px auto;
    padding: 40px 20px;
    border-radius: 10px;
    background-color: var(--clr-white)
  }
  .form-signin img {
    width: 300px;
    margin-bottom: 30px;
  }
  .form-signin .signin__message {
    color: var(--clr-red);
    font-size: 1rem;
  }
  .form-signin input[type="text"] {
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .form-signin button {
    background-color: var(--clr-logo-blue);
    border: none;
  }