:host {
    width: 100%;
    height: 100%;
}
.compound__info {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
}
#select {
    padding: 0.3rem;
    font-weight: bold;
}
.info__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
    padding: 30px;
}
.info__image {
    height: 100%;
    margin: 0 auto;
}
.info__details {
    display: flex;
    flex-direction: column;
}
.details__property {
    display: flex;
    gap: 20px;
}
.property__name {
    color: black;
    font-weight: bold;
}
