<div class="information__container">
    <div class="info__header">
        <h3 class="header__title">Chemical Information</h3>
        <select name="compound-select" id="select" [(ngModel)]="selectedCompound">
            <option [ngValue]="undefined" selected>SELECT ALL</option>
            <option *ngFor="let compound of compounds" [ngValue]="compound">{{ compound.casName }}</option>
        </select>
    </div>
    <div class="compounds__container">
        <div *ngIf="selectedCompound == null; else compound">
            <div *ngFor="let compound of compounds">
                <app-compound [compound]="compound"></app-compound>
            </div>
        </div>
        <ng-template #compound><app-compound [compound]="selectedCompound"></app-compound></ng-template>
    </div>
</div>