/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-main: #EFF7F6;
    --clr-spanish-gray:#8C9595;
    --clr-battleship-gray:#808A8A;
    --clr-celeste:#B2F7EF;
    --clr-white:#FFF;
    --clr-middle-blue:#92D1DD;
    --clr-logo-blue:#34495e;
    --clr-logo-green:#aacfd0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-main);
    color: var(--clr-logo-blue);
    padding: 0px;
    margin: 0px;
    height: inherit;
    width: inherit;
    max-width: 1920px;
}