
<p>Mat dialog works!</p>
<!-- <input matInput formControlName="username" name ="username" type="text" class="form-control" placeholder="Username"> -->

<!-- <input matInput formControlName="firstName" name ="firstName" type="text" class="form-control" placeholder="First name">

<input matInput formControlName="lastName" name ="lastName" type="text" class="form-control" placeholder="Last name">

<input matInput formControlName="email" name ="email" type="text" class="form-control" placeholder="Email">

<input matInput formControlName="phoneNumber" name ="phoneNumber" type="text" class="form-control" placeholder="Phone number">

<input matInput formControlName="password" name ="password" type="text" class="form-control" placeholder="Password">

<input formControlName="role" name ="role" type="text" class="form-control" placeholder="Role"> -->