:host {
    width: 100%;
    height: 100%;
}
.statistics__header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.statistics__header .header__title {
    font-weight: bold;
}
.statistics__piechart {
    width: 400px;
    height: 400px;
}
@media only screen and (max-width: 430px) {
    .statistics__piechart {
        width: 100%;
    }
}