<body>
  <header>
    <img src="assets/SS_Logo.png" alt="logo">
    <div class="header__container">
      <ul>
        <li class="header__contact"><a href="mailto:vmirrchev@gmail.com">CONTACT US</a></li>
        <li class="header__logout"><a href="">LOGOUT</a></li>
        <li class="header__help">
          <a href="assets/FileTest.pdf" download>
            <!-- <i class="fa-solid fa-question"></i> -->
            <img src="assets/red-questionmark.png" alt="manual-download-link">
          </a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <aside>
      <nav class="side__navigation">
        <ul>
          <li><a routerLink="/home">Current Stock</a><span></span></li>
          <li><a href="">Manage Inventory</a><span></span></li>
          <li><a href="">Statistics</a><span></span></li>
          <li><a href="">Chemical Information</a><span></span></li>
        </ul>
      </nav>
    </aside>
    <div class="main__content"></div>
  </main>
  <footer>Copyright © 2022 SodiumStock</footer>
</body>