:host {
    width: 75vw;
    min-height: calc(100vh - 144px);
    height: auto;
    display: flex;
    padding: 40px;
}

div.main__component {
    width: 100%;
    height: 100%;
    display: flex;
}

@media only screen and (max-width: 1300px) {
    :host {
        width: unset;
    }
}
@media only screen and (max-width: 1300px) {
    :host {
        padding: 20px;
    }
}

