:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inventory__container {
    height: 100%;
    width: 100%;
}
.inventory__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.inventory__header .header__title {
    font-weight: bold;
}
.inventory__table {
    height: calc(100% - 83px);
    overflow: auto;
}
.table td {
    color: var(--clr-logo-blue);
}
.inventory__container .status__expired {
    color: var(--clr-red);
}
.inventory__container .status__valid {
    color: var(--clr-green);
}
.inventory__container .status__expiring {
    color: var(--clr-orange);
}
.table thead {
    position: sticky;
    top: 0px;
    background-color: var(--clr-main);
}
.btn__remove {
    background: inherit;
    border: none;
    color: var(--clr-red);
}
.btn__add {
    background: var(--clr-green);
    border: none;
    color: white;
}
@media 
only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "CAS-NAME"; }
	td:nth-of-type(2):before { content: "CAS-NUMBER"; }
	td:nth-of-type(3):before { content: "SUBMITTED"; }
	td:nth-of-type(4):before { content: "EXPIRATION DATE"; }
	td:nth-of-type(5):before { content: "STATUS"; color: var(--clr-logo-blue); }
	td:nth-of-type(6):before { content: "ACTIONS"; }

    .btn__remove {
       padding: 0;
    }
}
