<div class="inventory__container">
    <table class="table table-striped table-sm">
        <thead class="table__header">
            <tr>
                <th scope="col">CAS-NAME</th>
                <th scope="col">CAS-NUMBER</th>
                <th scope="col">SUBMITTED BY</th>
                <th scope="col">EXPIRATION DATE</th>
                <th scope="col">STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of entries">
                <td>{{ entry.compound.casName }}</td>
                <td>{{ entry.compound.casNumber }}</td>
                <td>{{ entry.employee.firstName + " " + entry.employee.lastName}}</td>
                <td>{{ entry.expirationDate }}</td>
                <td *ngIf="checkStatus(entry.expirationDate) == 'VALID'" class="status__valid">{{
                    checkStatus(entry.expirationDate) }}</td>
                <td *ngIf="checkStatus(entry.expirationDate) == 'EXPIRED'" class="status__expired">{{
                    checkStatus(entry.expirationDate) }}</td>
                <td *ngIf="checkStatus(entry.expirationDate) == 'EXPIRING'" class="status__expiring">{{
                    checkStatus(entry.expirationDate) }}</td>
            </tr>
        </tbody>
    </table>
</div>