:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.employees__container {
    height: 100%;
    width: 100%;
}
.inventory__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.inventory__header .header__title {
    font-weight: bold;
}
.inventory__table {
    height: calc(100% - 83px);
    overflow: auto;
}
.table td {
    color: var(--clr-logo-blue);
}
.table thead {
    position: sticky;
    top: 0px;
    background-color: var(--clr-main);
}
.btn__remove {
    background: inherit;
    border: none;
    color: var(--clr-red);
}
.btn.btn__add {
    background: var(--clr-green);
    border: none;
    color: white;
}