<header>
    <img src="assets/SS_Logo.png" alt="logo">
    <div class="header__container">
      <ul>
        <li class="header__username"><a>{{ username }}</a></li>
        <li class="header__contact"><a href="mailto:vmirrchev@gmail.com">CONTACT US</a></li>
        <li class="header__logout"><a href="" (click)="logoutUser()">LOGOUT</a></li>
        <li class="header__help">
          <a href="assets/FileTest.pdf" download>
            <!-- <i class="fa-solid fa-question"></i> -->
            <img src="assets/red-questionmark.png" alt="manual-download-link">
          </a>
        </li>
      </ul>
    </div>
  </header>
